@import 'vars';

.Menu {
	width: 100px;
	height: auto;
	background-color: var(--white);
	border: 1px solid var(--very-light-pink);
	border-radius: 6px;
	padding: 20px 20px 0 20px;
	position: absolute;
	top: 60px;
	right: 50px;
	z-index: 1;
}
.Menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.Menu ul li {
	text-align: end;
}
.Menu ul li:nth-child(1),
.Menu ul li:nth-child(2) {
	font-weight: bold;
}
.Menu ul li:last-child {
	padding-top: 20px;
	border-top: 1px solid var(--very-light-pink);
}
.Menu ul li:last-child a {
	color: var(--hospital-green);
	font-size: var(--sm);
}
.Menu ul li a {
	color: var(--back);
	text-decoration: none;
	margin-bottom: 20px;
	display: inline-block;
}

@media (max-width: 640px) {
  .Menu {
    display: none;
  }
  .mobileMenu {
    display: flex;
    flex-direction: column;
    padding: 24px;
    position: fixed;
    background-color: var(--white);
    width: 100%;
    height: 100%;
    top: 61px;
    left: 0;
    box-sizing: border-box;
  }
  .mobileMenu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
  }
  .mobileMenu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  .mobileMenu ul:nth-child(2) {
    border-bottom: 1px solid var(--very-light-pink);
  }
  .mobileMenu ul li {
    margin-bottom: 24px;
  }
  .mobileMenu .email {
    font-size: var(--sm);
    font-weight: 300;
  }
  .mobileMenu .sign-out {
    font-size: var(--md);
    color: var(--hospital-green);
  }
  .mobileMenu .user {
    margin: 90px 0 5px 0;
  }
  .mobileMenu img {
    width: 10px;
    height: 10px;
    position: absolute;
    display: flex;
    right: 0;
    margin-right: 24px;
    cursor: pointer;
  }
  .menu {
    cursor: pointer;
  }
}

